.navigation {
  // .navigation__checkbox
  &__checkbox {
  }

  // .navigation__button
  &__button {
    background-color: $color-wight;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 15;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
  }

  // .navigation__background

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    transform: scale(1);
    z-index: 10;
    transition: transform 0.8s;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  // .navigation__list

  &__list {
    @include center;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  // .navigation__item

  &__item {
    margin: 1rem;
  }

  // .navigation__link

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-wight;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-wight 50%
      );
      background-size: 220%;
      transition: all 0.4s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
}
